<section class="bg-gray-100 min-h-screen ">


  <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
      </path>
    </svg>
  </button>

  <aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-azul">
      <a href="https://flowbite.com/" class="flex items-center ps-2.5 mb-5">
        <img src="assets/images/Insecap_Logo-09.png" class="h-12 me-3 sm:h-12" alt="Flowbite Logo" />
        <span style="font-family: 'Monserrat', sans-serif;"
          class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">Insecap</span>
      </a>
      <ul class="space-y-2 font-medium">
        <li>
          <a href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">


          </a>
        </li>
      </ul>
    </div>
  </aside>

  <div class="p-4 sm:ml-64">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-3  mt-6 mb-6 text-center">
      <!-- Cuadro 1 -->
      <div class="bg-white rounded-lg shadow w-36 h-36 mx-auto flex flex-col justify-center items-center">
        <p class="text-3xl font-bold text-azul">245</p>
        <p class="text-sm text-gray-500 mt-1 text-center">Días entre Progreso y Término de Comercio</p>
      </div>

      <!-- Cuadro 2 -->
      <div class="bg-white rounded-lg shadow w-36 h-36 mx-auto flex flex-col justify-center items-center">
        <p class="text-3xl font-bold text-green-600">152</p>
        <p class="text-sm text-gray-500 mt-1 text-center">Ventas SENCE</p>
      </div>

      <!-- Cuadro 3 -->
      <div class="bg-white rounded-lg shadow w-36 h-36 mx-auto flex flex-col justify-center items-center">
        <p class="text-3xl font-bold text-orange-500">94%</p>
        <p class="text-sm text-gray-500 mt-1 text-center">% Pago Exitoso</p>
      </div>
    </div>



    <div class="w-full mb-6">
      <div class="bg-white rounded-lg shadow p-4 w-full">
        <h2 class="text-sm font-semibold text-azul mb-2">Ventas por año (Proyecciones)</h2>
        <select class="px-2 py-1 border rounded text-sm" (change)="onCambioAno($event)">
          <option [value]="2023">2023</option>
          <option [value]="2024">2024</option>
          <option [value]="2025" selected>2025</option>
          <option [value]="2025" selected>2026</option>
        </select>
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"
          class="w-full h-64 max-h-64">
        </canvas>
      </div>


    </div>

    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold text-azul">Clientes</h2>
      <input type="text" placeholder="Buscar..."
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-azul" />
    </div>

    <div class="overflow-x-auto mb-6 rounded-lg border-b">
      <table class="min-w-full text-sm text-center text-gray-700 border-separate border-spacing-0">
        <thead class="bg-azul text-white">
          <tr>
            <th class="px-6 py-3">ID Cliente</th>
            <th class="px-6 py-3 cursor-pointer" (click)="ordenarPor('NombreCliente')">Nombre Cliente</th>
            <th class="px-6 py-3 cursor-pointer" (click)="ordenarPor('total_ventas')">Total de ventas</th>
            <th class="px-6 py-3">Total Sence</th>
            <th class="px-6 py-3">Días Estimados</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientesPaginados" class="bg-white border-b hover:bg-gray-50 cursor-pointer"
            (click)="seleccionarCliente(cliente)">
            <td class="px-6 py-4 font-bold text-azul">{{ cliente.IdCliente }}</td>
            <td class="px-6 py-4 font-bold text-azul">{{ cliente.NombreCliente }}</td>
            <td class="px-6 py-4 font-bold text-azul">{{ cliente.total_ventas }}</td>
            <td class="px-6 py-4 font-bold text-green-600">{{ cliente.total_sence }}</td>
            <td class="px-6 py-4 font-bold" [ngClass]="{
            'text-green-600': cliente.nivel_riesgo === 'BAJO',
            'text-yellow-500': cliente.nivel_riesgo === 'MEDIO',
            'text-orange-500': cliente.nivel_riesgo === 'ALTO',
            'text-red-600': cliente.nivel_riesgo === 'CRITICO'
          }">
              {{ cliente.dias_predichos ?? '—' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex justify-end items-center gap-4 mt-4 mb-6">
      <!-- Botón Anterior -->
      <button
        class="w-10 h-10 flex items-center justify-center rounded bg-azul text-white disabled:opacity-40 hover:bg-blue-700"
        [disabled]="paginaActual === 1" (click)="irPagina(paginaActual - 1)" aria-label="Página anterior">
        &#8592;
      </button>

      <!-- Página actual / total -->
      <span class="text-azul font-semibold text-sm">
        Página {{ paginaActual }} de {{ totalPaginas }}
      </span>

      <!-- Botón Siguiente -->
      <button
        class="w-10 h-10 flex items-center justify-center rounded bg-azul text-white disabled:opacity-40 hover:bg-blue-700"
        [disabled]="paginaActual === totalPaginas" (click)="irPagina(paginaActual + 1)" aria-label="Página siguiente">
        &#8594;
      </button>
    </div>

    <button *ngIf="clienteSeleccionado" class="mt-2 mb-4 px-3 py-1 text-white bg-red-500 rounded hover:bg-red-600"
      (click)="clienteSeleccionado = null">
      ← Volver a vista general
    </button>

    <div *ngIf="!clienteSeleccionado">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Card 1: Top sales rep -->
        <div class="bg-white  rounded-lg shadow p-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-sm font-semibold text-azul">Demora promedio por mes</h2>
            <canvas baseChart [datasets]="lineData" [labels]="lineLabels" [options]="lineOptions" [legend]="false"
              chartType="line">
            </canvas>
          </div>
        </div>

        <!-- Card 2: Forecast this quarter -->
        <div class="bg-white rounded-lg shadow p-4 ">
          <h2 class="text-sm font-semibold text-azul">Sence v/s No sence</h2>
          <canvas baseChart [type]="'pie'" [data]="linepieChardata" [options]="lineOptionsPie"
            class="w-full h-64 max-h-64">
          </canvas>
        </div>

        <div class="bg-white  rounded-lg shadow p-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-sm font-semibold text-azul">Demora dias por etapa</h2>
            <canvas baseChart [data]="barEtapasData" [options]="barEtapasOptions" [type]="'bar'">
            </canvas>
          </div>
        </div>

        <!-- Card 4: Sales this month -->
        <div class="bg-white rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-azul">Ventas por líder comercial</h2>
          <canvas baseChart [data]="barVentasData" [options]="barVentasOptions" [type]="'bar'">
          </canvas>
        </div>

        <!-- Card 5: Activities -->
        <div class="bg-white  rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-azul">Activities in sales</h2>
          <p class="text-3xl font-bold text-orange-500 mt-2">11</p>
          <p class="text-xs text-azul">Pending review</p>
        </div>

        <!-- Card 6: Open requests -->
        <div class="bg-white  rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-gray-600 dark:text-gray-300">Open requests</h2>
          <ul class="text-sm text-gray-800 dark:text-gray-200 mt-2 space-y-1">
            <li class="flex justify-between">
              <span>Tractor Inc.</span>
              <span class="font-semibold text-emerald-600">250K EUR</span>
            </li>
            <li class="flex justify-between">
              <span>HeavyTech Ltd.</span>
              <span class="font-semibold text-emerald-600">180K EUR</span>
            </li>
            <li class="flex justify-between">
              <span>MechaPro GmbH</span>
              <span class="font-semibold text-emerald-600">210K EUR</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="clienteSeleccionado">
      <h2 class="text-xl font-bold text-azul mb-4 text-center">
        Cliente seleccionado: {{ clienteSeleccionado.NombreCliente }}
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Card 1: Top sales rep -->
        <div class="bg-white  rounded-lg shadow p-4">
          <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="text-sm font-semibold text-azul mb-2">Evolución mensual de ventas y cobros</h2>
          <canvas baseChart
            [data]="evolucionChartData"
            [options]="evolucionChartOptions"
            [type]="'line'"
            class="w-full h-64 max-h-64">
          </canvas>
          </div>
        </div>

        <!-- Card 2: Forecast this quarter -->
        <div class="bg-white rounded-lg shadow p-4 ">
          <h2 class="text-sm font-semibold text-azul">Sence v/s No sence</h2>
          <canvas baseChart [type]="'pie'" [data]="linepieChardataCliente" [options]="lineOptionsPieCliente"
            class="w-full h-64 max-h-64">
          </canvas>
        </div>

        <div class="bg-white  rounded-lg shadow p-4">
          <div class="bg-white rounded-lg shadow p-4">
            <h2 class="text-sm font-semibold text-azul">Demora dias por etapa</h2>
            <canvas baseChart [data]="barEtapasData" [options]="barEtapasOptions" [type]="'bar'">
            </canvas>
          </div>
        </div>

        <!-- Card 4: Sales this month -->
        <div class="bg-white rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-azul">Ventas por líder comercial</h2>
          <canvas baseChart [data]="barVentasData" [options]="barVentasOptions" [type]="'bar'">
          </canvas>
        </div>

        <!-- Card 5: Activities -->
        <div class="bg-white  rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-azul">Activities in sales</h2>
          <p class="text-3xl font-bold text-orange-500 mt-2">11</p>
          <p class="text-xs text-azul">Pending review</p>
        </div>

        <!-- Card 6: Open requests -->
        <div class="bg-white  rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-gray-600 dark:text-gray-300">Open requests</h2>
          <ul class="text-sm text-gray-800 dark:text-gray-200 mt-2 space-y-1">
            <li class="flex justify-between">
              <span>Tractor Inc.</span>
              <span class="font-semibold text-emerald-600">250K EUR</span>
            </li>
            <li class="flex justify-between">
              <span>HeavyTech Ltd.</span>
              <span class="font-semibold text-emerald-600">180K EUR</span>
            </li>
            <li class="flex justify-between">
              <span>MechaPro GmbH</span>
              <span class="font-semibold text-emerald-600">210K EUR</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>