<section class="bg-gray-100 min-h-screen ">


  <button (click)="toggleSidebar()"
   class=" toggle-btn fixed top-4 left-4 z-50 inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden bg-white shadow hover:bg-gray-100">
  <span class="sr-only">Abrir menú</span>
  <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
</svg>

</button>
 <aside [class.translate-x-0]="sidebarVisible " #sidebar
       [class.-translate-x-full]="!sidebarVisible"
       class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform bg-azul sm:translate-x-0"
       aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-azul">
      <a href="/" class="flex items-center ps-2.5 mb-5">
        <img src="assets/images/Insecap_Logo-09.png" class="h-12 me-3 sm:h-12" alt="Flowbite Logo" />
        <span style="font-family: 'Monserrat', sans-serif;"
          class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">Insecap</span>
      </a>
      <ul class="space-y-2 font-medium">
        <!-- Dashboard -->
        <li>
          <a (click)="scrolAlHome(); sidebarVisible = false"
            class="flex items-center p-2 text-white rounded-lg hover:bg-blue-700 transition-colors">
            <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 2a1 1 0 00-.894.553L2.382 15H17.618L10.894 2.553A1 1 0 0010 2z"></path>
            </svg>
            <span class="ml-3">Inicio</span>
          </a>
        </li>
        <li>
          <a (click)="scrollATabla(); sidebarVisible = false"
            class="flex items-center p-2 text-white rounded-lg hover:bg-blue-700 transition-colors">
            <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.3 1.046a1 1 0 011.4 0l1.09 1.09a1 1 0 010 1.4l-1.09 1.09a1 1 0 01-1.4 0l-1.09-1.09a1 1 0 010-1.4l1.09-1.09zM10 5a5 5 0 100 10A5 5 0 0010 5z">
              </path>
            </svg>
            <span class="ml-3">Clientes</span>
          </a>
        </li>
        <!-- Reportes -->
        <li>
          <a (click)="scrollAGraficos(); sidebarVisible = false"
            class="flex items-center p-2 text-white rounded-lg hover:bg-blue-700 transition-colors">
            <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 3h14v14H3V3zm2 2v10h10V5H5z"></path>
            </svg>
            <span class="ml-3">Reportes</span>
          </a>
        </li>

        <!-- Configuración -->

      </ul>

    </div>
  </aside>
  <div class="sm:ml-64 py-4 bg-gray-100 shadow border-b" #seccionHome>
    <h1 class="text-center text-3xl font-extrabold tracking-wide text-azul uppercase"
      style="font-family: 'Montserrat', sans-serif;">
      DASHMODELS
    </h1>
  </div>
  <div class="p-4 sm:ml-64 ">




    <div class="w-full mb-6">
      <h1 class="text-2xl font-extrabold tracking-wide text-azul  mb-2 text-left"
        style="font-family: 'Montserrat', sans-serif;">
        Ventas por año (Proyecciones)
      </h1>
      <div class="bg-white rounded-lg shadow p-4 w-full">

        <select class="px-2 py-1 border rounded text-sm" (change)="onCambioAno($event)">
          <option [value]="2023">2023</option>
          <option [value]="2024">2024</option>
          <option [value]="2025" selected>2025</option>
          <option [value]="2026" >2026</option>
        </select>
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"
          class="w-full h-64 max-h-64">
        </canvas>
      </div>


    </div>

    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-extrabold tracking-wide text-azul  mb-2 text-left"
        style="font-family: 'Montserrat', sans-serif;">
        Panel de Evaluación de Clientes
      </h1>

    </div>

    <div class="overflow-x-auto mb-6 rounded-lg border-b" #seccionTabla>
      <div class="mb-4 flex justify-end">
        <input
          type="text"
          placeholder="Buscar cliente..."
          [(ngModel)]="terminoBusqueda"
          (input)="filtrarClientes()"
          class="px-3 py-1 border rounded w-64 text-sm"
        />
        </div>
      <table class="min-w-full text-sm text-center text-gray-700 border-separate border-spacing-0">
        <thead class="bg-azul text-white">
          <tr>
            <th class="px-6 py-3">ID Cliente</th>
            <th class="px-6 py-3 cursor-pointer" (click)="ordenarPor('NombreCliente')">Nombre Cliente</th>
            <th class="px-6 py-3 cursor-pointer" (click)="ordenarPor('total_ventas')">Total de ventas</th>
            <th class="px-6 py-3">Total Sence</th>
            <th class="px-6 py-3">Días Estimados</th>
            <th class="px-6 py-3">Nivel Riesgo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientesPaginados" class="bg-white border-b hover:bg-gray-50 cursor-pointer"
            (click)="seleccionarCliente(cliente)">
            <td class="px-6 py-4 font-bold text-azul">{{ cliente.IdCliente }}</td>
            <td class="px-6 py-4 font-bold text-azul">{{ cliente.NombreCliente }}</td>
            <td class="px-6 py-4 font-bold text-azul">{{ cliente.total_ventas }}</td>
            <td class="px-6 py-4 font-bold text-green-600">{{ cliente.total_sence }}</td>
            <td class="px-6 py-4 font-bold" [ngClass]="{
            'text-green-600': cliente.nivel_riesgo === 'BAJO',
            'text-yellow-500': cliente.nivel_riesgo === 'MEDIO',
            'text-orange-500': cliente.nivel_riesgo === 'ALTO',
            'text-red': cliente.nivel_riesgo === 'CRITICO'
          }">
              {{ cliente.dias_predichos ?? '—' }}
            </td>
            <td class="px-6 py-4 font-bold text-green-600" [ngClass]="{
            'text-green-600': cliente.nivel_riesgo === 'BAJO',
            'text-yellow-500': cliente.nivel_riesgo === 'MEDIO',
            'text-orange-500': cliente.nivel_riesgo === 'ALTO',
            'text-red-600': cliente.nivel_riesgo === 'CRITICO'
          }">{{ cliente.nivel_riesgo }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex justify-end items-center gap-4 mt-4 mb-6">
      <!-- Botón Anterior -->
      <button
        class="w-10 h-10 flex items-center justify-center rounded bg-azul text-white disabled:opacity-40 hover:bg-blue-700"
        [disabled]="paginaActual === 1" (click)="irPagina(paginaActual - 1)" aria-label="Página anterior">
        &#8592;
      </button>

      <!-- Página actual / total -->
      <span class="text-azul font-semibold text-sm">
        Página {{ paginaActual }} de {{ totalPaginas }}
      </span>

      <!-- Botón Siguiente -->
      <button
        class="w-10 h-10 flex items-center justify-center rounded bg-azul text-white disabled:opacity-40 hover:bg-blue-700"
        [disabled]="paginaActual === totalPaginas" (click)="irPagina(paginaActual + 1)" aria-label="Página siguiente">
        &#8594;
      </button>
    </div>

    <button *ngIf="clienteSeleccionado" class="mt-2 mb-4 px-3 py-1 text-white bg-red-500 rounded hover:bg-red-600"
      (click)="clienteSeleccionado = null">
      ← Volver a vista general
    </button>

    <div *ngIf="!clienteSeleccionado" #seccionGraficos>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Card 1: Top sales rep -->
        <div class="bg-white  rounded-lg shadow p-4">

          <h2 class="text-sm font-semibold text-azul">Demora promedio por mes</h2>
          <canvas baseChart [datasets]="lineData" [labels]="lineLabels" [options]="lineOptions" [legend]="false"
            chartType="line">
          </canvas>

        </div>

        <!-- Card 2: Forecast this quarter -->
        <div class="bg-white rounded-lg shadow p-4 ">
          <h2 class="text-sm font-semibold text-azul">Sence v/s No sence</h2>
          <canvas baseChart [type]="'pie'" [data]="linepieChardata" [options]="lineOptionsPie"
            class="w-full h-64 max-h-64">
          </canvas>
        </div>

        <div class="bg-white  rounded-lg shadow p-4">

          <h2 class="text-sm font-semibold text-azul">Demora dias por etapa</h2>
          <canvas baseChart [data]="barEtapasData" [options]="barEtapasOptions" [type]="'bar'"
            class="w-full h-64 max-h-64">
          </canvas>

        </div>

        <!-- Card 4: Sales this month -->
        <div class="bg-white rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-azul">Ventas por líder comercial</h2>
          <canvas baseChart [data]="barVentasData" [options]="barVentasOptions" [type]="'bar'">
          </canvas>
        </div>

        <!-- Card 5: Activities -->
        <div class="bg-white  rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-azul">Umbrales</h2>
          <canvas baseChart [data]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [type]="'bar'"
            class="w-full h-64 max-h-64">
          </canvas>
        </div>

        <!-- Card 6: Open requests -->
        <div class="bg-white  rounded-lg shadow p-4">
          <table class="min-w-full divide-y divide-gray-200 bg-white">
            <thead class="bg-azul">
              <tr>
                <th scope="col" class="px-4 py-2 text-left text-sm font-semibold text-white">
                  Cliente
                </th>
                <th scope="col" class="px-4 py-2 text-right text-sm font-semibold  text-white">
                  Total Pagado
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 text-sm">
              <tr *ngFor="let cliente of topClientes">
                <td class="px-4 py-2 text-gray-800">{{ cliente.cliente_nombre }}</td>
                <td class="px-4 py-2 text-right text-green-600 font-semibold">{{ cliente.total_pagado |
                  currency:'CLP':'symbol':'1.0-0' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="clienteSeleccionado" #seccionCliente>
      <h2 class="text-xl font-bold text-azul mb-4 text-center">
        Cliente seleccionado: {{ clienteSeleccionado.NombreCliente }}
      </h2>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Card 1: Top sales rep -->
        <div class="bg-white rounded-lg shadow p-4 col-span-1 lg:col-span-2">

          <h2 class="text-sm font-semibold text-azul mb-2">Evolución mensual de ventas y cobros</h2>
          <canvas baseChart [data]="evolucionChartData" [options]="evolucionChartOptions" [type]="'line'"
            class="w-full h-64 max-h-64">
          </canvas>

        </div>

        <!-- Card 2: Forecast this quarter -->


        <div class="bg-white  rounded-lg shadow p-4">

          <h2 class="text-sm font-semibold text-azul">Demora dias por etapa</h2>
          <canvas baseChart [data]="barEtapasDataCliente" [options]="barEtapasOptionsCliente" [type]="'bar'"
            class="w-full h-64 max-h-64">
          </canvas>

        </div>

        <!-- Card 4: Sales this month -->
        <div class="bg-white rounded-lg shadow p-4">
          <h2 class="text-sm font-semibold text-azul">Ventas por líder comercial</h2>
          <canvas baseChart [data]="barChartDataClienteLider" [type]="'bar'">
          </canvas>
        </div>

        <div class="bg-white rounded-lg shadow p-4 flex flex-col justify-center items-center h-full">
          <h2 class="text-sm font-semibold text-azul">Total de Comercializaciones</h2>
          <div *ngIf="totalComercializacionesCliente !== null" class="text-center">

            <p class="text-7xl font-bold text-azul">{{ totalComercializacionesCliente }}</p>
          </div>
        </div>

        <div class="bg-white rounded-lg shadow p-4 ">
          <h2 class="text-sm font-semibold text-azul">Sence v/s No sence</h2>
          <canvas baseChart [type]="'pie'" [data]="linepieChardataCliente" [options]="lineOptionsPieCliente"
            class="w-full h-64 max-h-64">
          </canvas>
        </div>


        <!-- Card 6: Open requests -->

      </div>
    </div>
  </div>

</section>
