@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montalban';
  src: url('assets/fonts/Montalban.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}